/* Ingresa tu código css aquí */

#lideres {
	padding: 0 0 5%;
}

#lideres .box > p {
	font-weight: bold;
	margin: 0;
}
#lideres .row {
	padding-bottom: 5%;
}
#lideres .container > img {
	width: 50%;
	height: auto;
}

#lideres img.separador {
	top: 2660px;
}

.col-sm-3 img{
	margin: auto;
	border-radius: 100%;
	width: 160px;
	height: 160px;
}
/* titulo */
.descripcion{
	text-align: center;
	padding: 16% 0;
	position: relative;
	bottom: 54px;
}
.descripcion p{
font-size: 19px;
width: 600px;
margin: auto;
}

.descripcion h2{
color: #1d9cd8;
margin: 0;
}
.descripcion span{
	color: #6db12d;
	font-weight: 700;
	text-transform: uppercase;
}

.title{
	padding: 3% 15%;
}
.title > p{
	font-weight: lighter;

}
.box{
	padding: 5%;
	font-size: 16px;
}

.box > span{
	font-size: 12px;
}
/****color de iconos ***/
.icon-lideres{
	width: 10%;
	border-radius: 20%;
}
.fb {
	fill: #305891;
}

.fb:hover {
	fill: rgba(48,88,145, 0.7);
	transition: 0.7s ease-in-out;
}

.tw {
	fill:  #2CA8D2;
}

.tw:hover{
	fill: rgba(44,168,210, 0.7);
	transition: 0.7s ease-in-out;
}
.ln {
	fill: #1985BC;
}

.ln:hover{
	fill:rgba(25,133,188, 0.7);
}






